@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  animation: spin 2s linear infinite;
}

.page-title {
  font-family: 'Roboto Bold';
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0;
}

.news {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 20px;
}

.section--news {
  padding-bottom: 50px;
}

.news__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 200px;
}

.card__image {
  height: 100%;
  max-height: 200px;
}

.card__title {
  font-family: 'Roboto Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0;
  width: 240px;
}

.card__link--title {
  position: relative;
}

.card__link--title::after {
  position: absolute;
  content: url('../assets/link.svg');
  top: 2px;
  right: 2px;
}

.card__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

.card__meta {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content 1fr;
  align-content: end;
  gap: 12px;

  color: #8e8e8e;
  font-family: 'Roboto Light';
  font-size: 10px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0;
}

.card__author {
  place-self: end;
  text-align: right;
}
